{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<form class="mx-auto relative mt-20 w-full" action="{{ url_for('movie.search') }}" method="get">
    <input type="search" id="search-dropdown" name="title" value="{{ request.args.get('title') }}" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Chercher un film, un artiste..." required />
    <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white rounded-e-lg border border-blue-500 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
        </svg>
        <span class="sr-only">Chercher</span>
    </button>
</form>

<h1 class="text-center text-2xl font-medium text-gray-900 my-5">{{ total_results }} film(s) ont été trouvés</h1>
<div id="movie-grid" class="lg:pt-5 sm:pt-5 grid sm:grid-cols-1 md:sm:grid-cols-2 lg:grid-cols-4 gap-2 mr-1 md:mx-10">
    {% for movie in movies %}
    <a href="{{ url_for('movie.details', movie_id=movie.id_tmdb) }}" class="flex items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
        <img class="lg:w-32 md:w-16 sm:w-32 w-32 rounded-t-lg md:rounded-none md:rounded-s-lg" src="{{ "https://image.tmdb.org/t/p/w500" + movie.poster_path if movie.poster_path else url_for('static', filename='images/default-movie.png') }}" alt="{{ movie.title }}" loading="lazy">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 lg:text-2xl md:text-xl sm:text-lg font-bold tracking-tight text-gray-900 dark:text-white">{{ movie.title }}</h5>
            <p class="line-clamp-2 mb-3 font-normal text-gray-700 sm:text-sm">{{ movie.overview }}</p>
        </div>
    </a>
    {% endfor %}
</div>

<script>
let currentPage = 1;
let isLoading = false;

async function loadMoreMovies() {
    if (isLoading) return;

    isLoading = true;
    currentPage += 1;

    try {
        const params = new URLSearchParams(window.location.search);
        const response = await fetch(`{{ api_url }}/movies?page=${currentPage}&${params.toString()}`);
        if (!response.ok) {
            throw new Error('Failed to fetch movies');
        }

        const newMovies = await response.json();
        const movieGrid = document.getElementById('movie-grid');

        newMovies.movies.forEach(movie => {
            const movieElement = document.createElement('a');
            movieElement.href = `/movie/details/${movie.id_tmdb}`;
            movieElement.className =
                'flex items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100';

            movieElement.innerHTML = `
                <img class="lg:w-32 md:w-16 sm:w-32 w-32 rounded-t-lg md:rounded-none md:rounded-s-lg"
                     src="${movie.poster_path ? `https://image.tmdb.org/t/p/w500${movie.poster_path}` : '/static/images/default-movie.png'}"
                     alt="${movie.title}" loading="lazy">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 lg:text-2xl md:text-xl sm:text-lg font-bold tracking-tight text-gray-900">${movie.title}</h5>
                    <p class="line-clamp-2 mb-3 font-normal text-gray-700 sm:text-sm">${movie.overview || ''}</p>
                </div>
            `;
            movieGrid.appendChild(movieElement);
        });

    } catch (error) {
        console.error('Error loading more movies:', error);
    } finally {
        isLoading = false;
    }
}

// Detect scroll at the end of the page
window.addEventListener('scroll', () => {
    const scrollPosition = window.scrollY + window.innerHeight;
    const bottomPosition = document.documentElement.scrollHeight - 100;

    if (scrollPosition >= bottomPosition) {
        loadMoreMovies();
    }
});
</script>

{% endblock %}