{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="bg-white">
  <div class="px-4 py-16 sm:px-6 sm:py-24 lg:px-8 mx-4 sm:mx-10 md:mx-20 lg:mx-40">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Artistes populaires</h2>

    <div id="person-grid" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        {% for person in persons %}
      <div class="group relative max-w-sm bg-white border border-gray-200 rounded-lg shadow">
        <a href="{{ url_for('person.details', person_id=person.id_tmdb) }}">
          <img class="rounded-t-lg" loading="lazy" src="{{ "https://image.tmdb.org/t/p/w500" + person.profile_path if person.profile_path else url_for('static', filename='images/default_credit_picture.jpg') }}" alt="{{ person.name }}" />
        </a>
        <div class="p-5">
          <p class="font-bold text-gray-700 dark:text-gray-400">{{ person.name }}</p>
          <p class="font-normal text-gray-700 dark:text-gray-400">{{ person.known_for }}</p>
        </div>
      </div>
        {% endfor %}
    </div>
</div>
</div>

<script>
let currentPage = 2;
let isLoading = false;

async function loadMorePersons() {
    if (isLoading) return;

    isLoading = true;
    currentPage += 1;

    try {
        const params = new URLSearchParams(window.location.search);
        const response = await fetch(`{{ api_url }}/person/popular?page=${currentPage}&${params.toString()}`);
        if (!response.ok) {
            throw new Error('Failed to fetch persons');
        }

        const newPersons = await response.json();
        const personGrid = document.getElementById('person-grid');

        newPersons.forEach(person => {
            const personElement = document.createElement('div');
            personElement.classList.add('group', 'relative', 'max-w-sm', 'bg-white', 'border', 'border-gray-200', 'rounded-lg', 'shadow');
            personElement.innerHTML = `
                <a href="/person/details/${person.id_tmdb}">
                    <img class="rounded-t-lg" src="${person.profile_path ? `https://image.tmdb.org/t/p/w500${person.profile_path}` : '/static/images/default-person.png'}" alt="${person.name}" loading="lazy" />
                </a>
                <div class="p-5">
                  <p class="font-bold text-gray-700 dark:text-gray-400">${person.name}</p>
                  <p class="font-normal text-gray-700 dark:text-gray-400">${person.known_for}</p>
                </div>
            `;
            personGrid.appendChild(personElement);
        });

    } catch (error) {
        console.error('Error loading more persons:', error);
    } finally {
        isLoading = false;
    }
}

// Detect scroll at the end of the page
window.addEventListener('scroll', () => {
    const scrollPosition = window.scrollY + window.innerHeight;
    const bottomPosition = document.documentElement.scrollHeight - 100;

    if (scrollPosition >= bottomPosition) {
        loadMorePersons();
    }
});
</script>
    
{% endblock %}
